@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @keyframes zoomOut {
    from {
      transform: scale(1.1);
    }
    to {
      transform: scale(1);
    }
  }

  :root {
    --background: 2 20% 98%;
    --foreground: 2 64% 15%;
    --card: 2 20% 98%;
    --card-foreground: 2 64% 15%;
    --popover: 2 20% 98%;
    --popover-foreground: 2 64% 15%;
    --primary: 2 64% 49%;
    --primary-foreground: 2 20% 98%;
    --secondary: 2 30% 90%;
    --secondary-foreground: 2 64% 15%;
    --muted: 2 30% 90%;
    --muted-foreground: 2 40% 46%;
    --accent: 2 30% 90%;
    --accent-foreground: 2 64% 15%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 2 20% 98%;
    --border: 2 30% 90%;
    --input: 2 30% 90%;
    --ring: 2 64% 49%;
    --radius: 0.5rem;
    --chart-1: 2 64% 49%;
    --chart-2: 2 54% 39%;
    --chart-3: 2 44% 29%;
    --chart-4: 2 74% 59%;
    --chart-5: 2 84% 69%;
  }

  .dark {
    --background: 2 64% 15%;
    --foreground: 2 20% 98%;
    --card: 2 64% 15%;
    --card-foreground: 2 20% 98%;
    --popover: 2 64% 15%;
    --popover-foreground: 2 20% 98%;
    --primary: 2 64% 49%;
    --primary-foreground: 2 20% 98%;
    --secondary: 2 50% 25%;
    --secondary-foreground: 2 20% 98%;
    --muted: 2 50% 25%;
    --muted-foreground: 2 30% 70%;
    --accent: 2 50% 25%;
    --accent-foreground: 2 20% 98%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 2 20% 98%;
    --border: 2 50% 25%;
    --input: 2 50% 25%;
    --ring: 2 64% 49%;
    --chart-1: 2 64% 49%;
    --chart-2: 2 54% 39%;
    --chart-3: 2 44% 29%;
    --chart-4: 2 74% 59%;
    --chart-5: 2 84% 69%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sen), sans-serif;
  }

  .no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }

  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

.overflow-hidden {
  overflow: hidden !important;
}
